<a href="https://colab.research.google.com/github/MarcinHrynkiewiczSudnik/Python3/blob/main/01_wprowadzenie/05_odczyt_zapis_do_pliku.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
def fetch_financial_data(company='AMZN'):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data('ALE')
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2022-07-29 to 2017-08-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   float64
dtypes: float64(5)
memory usage: 58.9 KB

In [4]:
df.head()

             Open    High      Low  Close    Volume
Date
2022-07-29  61.44  62.220  61.3100  62.07  272924.0
2022-07-28  60.37  61.500  59.7933  61.44  252494.0
2022-07-27  59.50  59.740  58.9000  59.58  239836.0
2022-07-26  58.99  59.745  58.4100  59.58  341846.0
2022-07-25  58.38  59.005  58.1100  58.93  284612.0

In [6]:
df.to_csv('allegro.csv')

In [7]:
df_nov = df[(df.index.month == 11) & (df.index.year == 2021)]

In [8]:
df_nov

               Open     High      Low    Close         Volume
Date
2021-11-30  59.2074  59.2074  57.9020  57.9811  412342.642408
2021-11-29  59.9886  60.4337  59.1382  59.6722  299752.540475
2021-11-26  61.3731  61.6006  58.5448  59.4447  306217.087479
2021-11-24  62.8961  62.9554  62.1643  62.2929  260727.628455
2021-11-23  62.7972  63.3312  62.2681  62.8862  353624.776703
2021-11-22  62.0555  63.1631  61.8874  62.5005  413371.024123
2021-11-19  61.7687  61.9368  61.4819  61.9072  236981.819398
2021-11-18  62.4115  62.6390  61.5314  61.9962  199067.195601
2021-11-17  62.7972  62.8763  62.2929  62.5895  247453.718158
2021-11-16  63.7960  63.8306  62.6192  62.9455  213580.826628
2021-11-15  63.7960  63.9641  63.2126  63.7960  169465.576798
2021-11-12  63.5884  63.9839  63.0939  63.3016  129101.847285
2021-11-11  64.0957  64.2420  63.1948  63.3609  135420.782720
2021-11-10  62.9693  64.1936  62.9297  64.0265  195221.634478
2021-11-09  62.7052  63.1651  62.0328  62.8219  176795.703692
2021-11-08  63.8504  63.8504  62.0585  62.5678  254786.878627
2021-11-05  62.9297  64.3301  62.9060  63.8306  217916.815609
2021-11-04  60.7758  63.2234  60.7758  62.7537  328629.135001
2021-11-03  61.7845  62.7339  61.6075  62.0980  260161.361237
2021-11-02  62.1959  62.1959  60.7659  61.6965  175526.658410
2021-11-01  60.2566  62.0001  59.9629  61.8824  203441.609858

In [9]:
df_nov.to_csv('allegro_nov.csv')

In [10]:
new_df = pd.read_csv('allegro_nov.csv')
new_df

          Date     Open     High      Low    Close         Volume
0   2021-11-30  59.2074  59.2074  57.9020  57.9811  412342.642408
1   2021-11-29  59.9886  60.4337  59.1382  59.6722  299752.540475
2   2021-11-26  61.3731  61.6006  58.5448  59.4447  306217.087479
3   2021-11-24  62.8961  62.9554  62.1643  62.2929  260727.628455
4   2021-11-23  62.7972  63.3312  62.2681  62.8862  353624.776703
5   2021-11-22  62.0555  63.1631  61.8874  62.5005  413371.024123
6   2021-11-19  61.7687  61.9368  61.4819  61.9072  236981.819398
7   2021-11-18  62.4115  62.6390  61.5314  61.9962  199067.195601
8   2021-11-17  62.7972  62.8763  62.2929  62.5895  247453.718158
9   2021-11-16  63.7960  63.8306  62.6192  62.9455  213580.826628
10  2021-11-15  63.7960  63.9641  63.2126  63.7960  169465.576798
11  2021-11-12  63.5884  63.9839  63.0939  63.3016  129101.847285
12  2021-11-11  64.0957  64.2420  63.1948  63.3609  135420.782720
13  2021-11-10  62.9693  64.1936  62.9297  64.0265  195221.634478
14  2021-11-09  62.7052  63.1651  62.0328  62.8219  176795.703692
15  2021-11-08  63.8504  63.8504  62.0585  62.5678  254786.878627
16  2021-11-05  62.9297  64.3301  62.9060  63.8306  217916.815609
17  2021-11-04  60.7758  63.2234  60.7758  62.7537  328629.135001
18  2021-11-03  61.7845  62.7339  61.6075  62.0980  260161.361237
19  2021-11-02  62.1959  62.1959  60.7659  61.6965  175526.658410
20  2021-11-01  60.2566  62.0001  59.9629  61.8824  203441.609858

In [11]:
df_nov.to_excel('allegro_nov.xlsx')

In [13]:
new_df = pd.read_excel('allegro_nov.xlsx', index_col=0)
new_df

               Open     High      Low    Close         Volume
Date
2021-11-30  59.2074  59.2074  57.9020  57.9811  412342.642408
2021-11-29  59.9886  60.4337  59.1382  59.6722  299752.540475
2021-11-26  61.3731  61.6006  58.5448  59.4447  306217.087479
2021-11-24  62.8961  62.9554  62.1643  62.2929  260727.628455
2021-11-23  62.7972  63.3312  62.2681  62.8862  353624.776703
2021-11-22  62.0555  63.1631  61.8874  62.5005  413371.024123
2021-11-19  61.7687  61.9368  61.4819  61.9072  236981.819398
2021-11-18  62.4115  62.6390  61.5314  61.9962  199067.195601
2021-11-17  62.7972  62.8763  62.2929  62.5895  247453.718158
2021-11-16  63.7960  63.8306  62.6192  62.9455  213580.826628
2021-11-15  63.7960  63.9641  63.2126  63.7960  169465.576798
2021-11-12  63.5884  63.9839  63.0939  63.3016  129101.847285
2021-11-11  64.0957  64.2420  63.1948  63.3609  135420.782720
2021-11-10  62.9693  64.1936  62.9297  64.0265  195221.634478
2021-11-09  62.7052  63.1651  62.0328  62.8219  176795.703692
2021-11-08  63.8504  63.8504  62.0585  62.5678  254786.878627
2021-11-05  62.9297  64.3301  62.9060  63.8306  217916.815609
2021-11-04  60.7758  63.2234  60.7758  62.7537  328629.135001
2021-11-03  61.7845  62.7339  61.6075  62.0980  260161.361237
2021-11-02  62.1959  62.1959  60.7659  61.6965  175526.658410
2021-11-01  60.2566  62.0001  59.9629  61.8824  203441.609858

In [14]:
df = pd.read_csv('london_bike.csv')
df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [15]:
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [17]:
df = df.set_index('timestamp')

In [18]:
df

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
timestamp,,,,,,,,,
2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...
2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0