<a href="https://colab.research.google.com/github/MarcinHrynkiewiczSudnik/Python3/blob/main/04_dane_gieldowe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
def fetch_financial_data(company='AMZN'):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2022-07-29 to 2017-08-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.9 KB

In [3]:
df

                Open      High       Low     Close     Volume
Date
2022-07-29  134.9000  137.6500  132.4100  134.9500  148892889
2022-07-28  121.5700  122.8400  118.0800  122.2800   82245543
2022-07-27  117.3100  121.9000  117.1600  120.9700   61582015
2022-07-26  115.7900  118.1500  114.5300  114.8100   67075064
2022-07-25  122.6950  123.6400  120.0300  121.1400   50221259
...              ...       ...       ...       ...        ...
2017-08-08   49.7175   49.8140   49.2895   49.4920   57790300
2017-08-07   49.5325   49.7500   49.3570   49.6135   53405640
2017-08-04   49.4840   49.5836   49.1000   49.3705   54544520
2017-08-03   49.9735   49.9750   49.2295   49.3460   65060280
2017-08-02   50.0885   50.1605   49.0865   49.7945   81274300

[1257 rows x 5 columns]

In [4]:
df.head()

               Open    High     Low   Close     Volume
Date
2022-07-29  134.900  137.65  132.41  134.95  148892889
2022-07-28  121.570  122.84  118.08  122.28   82245543
2022-07-27  117.310  121.90  117.16  120.97   61582015
2022-07-26  115.790  118.15  114.53  114.81   67075064
2022-07-25  122.695  123.64  120.03  121.14   50221259

In [5]:
df.head(3)

              Open    High     Low   Close     Volume
Date
2022-07-29  134.90  137.65  132.41  134.95  148892889
2022-07-28  121.57  122.84  118.08  122.28   82245543
2022-07-27  117.31  121.90  117.16  120.97   61582015

In [6]:
df.tail(10)

               Open     High      Low    Close     Volume
Date
2017-08-15  49.4450  49.5870  49.1000  49.1370   50893440
2017-08-14  48.9205  49.2750  48.8095  49.1650   63370360
2017-08-11  48.0000  48.5195  47.5690  48.3995   69297680
2017-08-10  48.8147  48.9930  47.7340  47.8460  112060180
2017-08-09  49.1300  49.4000  48.7635  49.1005   71362860
2017-08-08  49.7175  49.8140  49.2895  49.4920   57790300
2017-08-07  49.5325  49.7500  49.3570  49.6135   53405640
2017-08-04  49.4840  49.5836  49.1000  49.3705   54544520
2017-08-03  49.9735  49.9750  49.2295  49.3460   65060280
2017-08-02  50.0885  50.1605  49.0865  49.7945   81274300

In [7]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [8]:
df.columns = [col.lower() for col in df.columns]
df.head(3)

              open    high     low   close     volume
Date
2022-07-29  134.90  137.65  132.41  134.95  148892889
2022-07-28  121.57  122.84  118.08  122.28   82245543
2022-07-27  117.31  121.90  117.16  120.97   61582015

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
open,1257.0,1.149134e+02,3.993658e+01,4.700000e+01,8.516700e+01,9.842500e+01,1.583380e+02,1.872000e+02
high,1257.0,1.162374e+02,4.041424e+01,4.743150e+01,8.604350e+01,9.950050e+01,1.599380e+02,1.886540e+02
low,1257.0,1.134408e+02,3.939297e+01,4.658750e+01,8.410750e+01,9.717400e+01,1.562500e+02,1.848400e+02
close,1257.0,1.148566e+02,3.986336e+01,4.693000e+01,8.498650e+01,9.856550e+01,1.581000e+02,1.865700e+02
volume,1257.0,8.638949e+07,4.101567e+07,1.762674e+07,5.876064e+07,7.496474e+07,1.022881e+08,3.310520e+08

In [10]:
df = df.head(10)
df

               open     high       low   close     volume
Date
2022-07-29  134.900  137.650  132.4100  134.95  148892889
2022-07-28  121.570  122.840  118.0800  122.28   82245543
2022-07-27  117.310  121.900  117.1600  120.97   61582015
2022-07-26  115.790  118.150  114.5300  114.81   67075064
2022-07-25  122.695  123.640  120.0300  121.14   50221259
2022-07-22  125.010  125.500  121.3504  122.42   51463797
2022-07-21  123.200  124.850  121.2600  124.63   60239892
2022-07-20  118.615  123.475  118.3200  122.77   71268322
2022-07-19  115.700  118.950  114.0300  118.21   60990043
2022-07-18  115.000  117.240  113.1500  113.76   59115419

In [11]:
df.open

Date
2022-07-29    134.900
2022-07-28    121.570
2022-07-27    117.310
2022-07-26    115.790
2022-07-25    122.695
2022-07-22    125.010
2022-07-21    123.200
2022-07-20    118.615
2022-07-19    115.700
2022-07-18    115.000
Name: open, dtype: float64

In [12]:
df[['open']]

               open
Date
2022-07-29  134.900
2022-07-28  121.570
2022-07-27  117.310
2022-07-26  115.790
2022-07-25  122.695
2022-07-22  125.010
2022-07-21  123.200
2022-07-20  118.615
2022-07-19  115.700
2022-07-18  115.000

In [13]:
df[['open', 'close']]

               open   close
Date
2022-07-29  134.900  134.95
2022-07-28  121.570  122.28
2022-07-27  117.310  120.97
2022-07-26  115.790  114.81
2022-07-25  122.695  121.14
2022-07-22  125.010  122.42
2022-07-21  123.200  124.63
2022-07-20  118.615  122.77
2022-07-19  115.700  118.21
2022-07-18  115.000  113.76

In [14]:
df.iloc[:, [0,3]]

               open   close
Date
2022-07-29  134.900  134.95
2022-07-28  121.570  122.28
2022-07-27  117.310  120.97
2022-07-26  115.790  114.81
2022-07-25  122.695  121.14
2022-07-22  125.010  122.42
2022-07-21  123.200  124.63
2022-07-20  118.615  122.77
2022-07-19  115.700  118.21
2022-07-18  115.000  113.76

In [15]:
df.iloc[:, 3:5]

             close     volume
Date
2022-07-29  134.95  148892889
2022-07-28  122.28   82245543
2022-07-27  120.97   61582015
2022-07-26  114.81   67075064
2022-07-25  121.14   50221259
2022-07-22  122.42   51463797
2022-07-21  124.63   60239892
2022-07-20  122.77   71268322
2022-07-19  118.21   60990043
2022-07-18  113.76   59115419

In [17]:
df.iloc[:, [-1]]

               volume
Date
2022-07-29  148892889
2022-07-28   82245543
2022-07-27   61582015
2022-07-26   67075064
2022-07-25   50221259
2022-07-22   51463797
2022-07-21   60239892
2022-07-20   71268322
2022-07-19   60990043
2022-07-18   59115419

In [18]:
df.iloc[:3]

              open    high     low   close     volume
Date
2022-07-29  134.90  137.65  132.41  134.95  148892889
2022-07-28  121.57  122.84  118.08  122.28   82245543
2022-07-27  117.31  121.90  117.16  120.97   61582015

In [19]:
df.loc['2022-07-28']

              open    high     low   close    volume
Date
2022-07-28  121.57  122.84  118.08  122.28  82245543

In [20]:
df

               open     high       low   close     volume
Date
2022-07-29  134.900  137.650  132.4100  134.95  148892889
2022-07-28  121.570  122.840  118.0800  122.28   82245543
2022-07-27  117.310  121.900  117.1600  120.97   61582015
2022-07-26  115.790  118.150  114.5300  114.81   67075064
2022-07-25  122.695  123.640  120.0300  121.14   50221259
2022-07-22  125.010  125.500  121.3504  122.42   51463797
2022-07-21  123.200  124.850  121.2600  124.63   60239892
2022-07-20  118.615  123.475  118.3200  122.77   71268322
2022-07-19  115.700  118.950  114.0300  118.21   60990043
2022-07-18  115.000  117.240  113.1500  113.76   59115419

In [22]:
df.loc['2022-07-20': '2022-07-26']

               open    high       low   close    volume
Date
2022-07-26  115.790  118.15  114.5300  114.81  67075064
2022-07-25  122.695  123.64  120.0300  121.14  50221259
2022-07-22  125.010  125.50  121.3504  122.42  51463797
2022-07-21  123.200  124.85  121.2600  124.63  60239892

In [23]:
df = fetch_financial_data('MSFT')
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2022-07-29 to 2017-08-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   float64
dtypes: float64(5)
memory usage: 58.9 KB

In [24]:
df = fetch_financial_data('UBER')
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 812 entries, 2022-07-29 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    812 non-null    float64
 1   High    812 non-null    float64
 2   Low     812 non-null    float64
 3   Close   812 non-null    float64
 4   Volume  812 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 38.1 KB

In [25]:
df.head()

             Open     High    Low  Close    Volume
Date
2022-07-29  23.18  23.4850  22.39  23.45  29406649
2022-07-28  22.89  23.4200  22.14  23.31  22886075
2022-07-27  23.00  23.3199  22.49  23.09  28384348
2022-07-26  23.15  23.1500  22.45  22.55  24402801
2022-07-25  23.27  23.5400  22.63  23.35  12923042